{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <div class="content">

      <h1>Recibos</h1>

        <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Posto / Graduação</th>
                  <th scope="col">Ramal</th>
                  <th scope="col">Especificações</th>
                  <th scope="col">Data</th>
                  <th scope="col">Ação</th>
              </tr>
          </thead>
          <tbody>
          {% for recibo in page_obj %}
            <tr>
                <td scope="row">{{ recibo.nome }}</td>
                <td scope="row">{{ recibo.graduacao }}</td>
                <td scope="row">{{ recibo.ramal }}</td>
                <td scope="row">{{ recibo.especificacoes }}</td>
                <td scope="row">{{ recibo.data }}</td>
                <td>
                    <a href="{% url 'detail_recibo' recibo.pk %}" class="btn btn-primary" >Detalhes</a>
                    <a href="{% url 'update_recibo' recibo.pk %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'delete_recibo' recibo.pk %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <a href="{% url 'adicionar_recibo' %}" class="btn bt-add btn-success">Novo Recibo</a>

        {% include 'paginator.html' %}

    </div>

{% endblock %}