{% extends 'base.html' %}

{% block content %}

  <div class="content">

    <div class="block-pdf">

      <h2 class="title-detail">Detalhes do Recibo</h2>

      <table class="table table-detail table-striped">
        <tr>
          <th scope="col"><h5>Nome</h5></th>
          <th scope="col"><h5>Saram</h5></th>
          <th scope="col"><h5>Posto / Graduação</h5></th>
        </tr>

        <tr>
          <td scope="row"><h6>{{ recibo.nome }}</h6></td>
          <td scope="row"><h6>{{ recibo.saram }}</h6></td>
          <td scope="row"><h6>{{ recibo.graduacao }}</h6></td>
        </tr>

        <tr>
          <th scope="col"><h5>Setor</h5></th>
          <th scope="col"><h5>Ramal</h5></th>
          <th scope="col"><h5>Data</h5></th>
        </tr>

        <tr>
          <td scope="row"><h6>{{ recibo.setor }}</h6></td>
          <td scope="row"><h6>{{ recibo.ramal }}</h6></td>
          <td scope="row"><h6>{{ recibo.data }}</h6></td>
        </tr>

        <tr>
          <th scope="col"><h5>Lacre</h5></th>
          <th scope="col"><h5>BPM</h5></th>
          <th scope="col"><h5>SINF</h5></th>
        </tr>

        <tr>
          <td scope="row"><h6>{{ recibo.lacre }}</h6></td>
          <td scope="row"><h6>{{ recibo.bmp }}</h6></td>
          <td scope="row"><h6>{{ recibo.sinf }}</h6></td>
        </tr>

        <tr>
          <th scope="col"><h5>Especificações</h5></th>
          <th scope="col"><h5>Observação</h5></th>
          <th scope="col"><h5>Quantidade</h5></th>
        </tr>

        <tr>
          <td scope="row"><h6>{{ recibo.especificacoes }}</h6></td>
          <td scope="row"><h6>{{ recibo.observacao }}</h6></td>
          <td scope="row"><h6>{{ recibo.quantidade }}</h6></td>
        </tr>
      </table>

      <div class="block-assinatura">
        <div class="assinatura">
          <h6>Assinatura:</h6>
        </div>

        <div class="line">
          <hr>
        </div>
      </div>


      <!--
      <div class="row">
        <div class="assinatura">
          <h5>Assinatura:</h5>
        </div>

        <div class="line">
          <hr>
        </div>
      </div>
      -->

    </div>

    <button onclick="gerarPDF()" type="button" class="btn btn-success">PDF</button>

    <a href="{% url 'recibos' %}" class="btn btn-warning">Voltar</a>

  </div>

{% endblock %}