<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recebimento de Material</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
</head>
<body>

    <div class="container">
        <div class="recebimento">

            <h2>Recibimento de Material</h2>

            <form action="{% url 'lista_recibo' %}" method="post" class="form row g-3" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome">
                </div>

                <div class="col-6">
                    <label for="saram" class="form-label">Saram</label>
                    <input type="text" class="form-control" id="saram" maxlength="7" minlength="7">
                </div>

                <div class="col-6">
                    <label for="graduacao" class="form-label">Posto / Graduação</label>
                    <input type="text" class="form-control" id="graduacao">
                </div>

                <div class="col-6">
                    <label for="setor" class="form-label">Setor / Seção</label>
                    <input type="text" class="form-control" id="setor" placeholder="OM / Seção">
                </div>

                <div class="col-6">
                    <label for="ramal" class="form-label">Ramal</label>
                    <input type="text" class="form-control" id="ramal" minlength="4" maxlength="4">
                </div>

                <div class="col-6">
                    <label for="data" class="form-label">Data</label>
                    <input type="date" class="form-control form-data" id="data" placeholder="0000">
                </div>

                <div class="col-6">
                    <label for="especificacoes" class="form-label">Especificações</label>
                    <textarea class="form-control" id="especificacoes" rows="3"></textarea>
                </div>

                <div class="col-6">
                    <label for="observacao" class="form-label">Observação</label>
                    <textarea class="form-control" id="observacao" rows="3"></textarea>
                </div>

                <div class="col-6">
                    <label for="sinf" class="form-label">SINF</label>
                    <input type="text" class="form-control" id="sinf" minlength="4" maxlength="4"><br>

                </div>

                <div class="col-6">
                    <label for="lacre" class="form-label">Lacre</label>
                    <input type="text" class="form-control" id="lacre" minlength="7" maxlength="7">
                </div>

                <div class="col-6">
                    <label for="bmp" class="form-label">BMP</label>
                    <input type="text" class="form-control" id="bmp" maxlength="7"><br>

                </div>

                <div class="col-6">
                    <label for="quantidade" class="form-label">Quantidade</label>
                    <input type="number" class="form-control" id="quantidade">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>

    <script type="text/javascript" src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js' %}"></script>

</html>