{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

        <div class="content">

            <h2>Recibimento de Material</h2>

            <form method="post" autocomplete="off" class="row">
                {% csrf_token %}
                {% bootstrap_form form form_group_class='form-group col-6' show_label=False %}
                    {% buttons form_group_class='form-group col-6' %}
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <button type="button" class="btn btn-warning">
                            <a href="{% url 'recibos' %}">Cancelar</a>
                        </button>
                    {% endbuttons %}
            </form>
        </div>


{% endblock %}