.content{
    margin: 20px auto 40px!important;
}

.title-detail{
    margin-bottom: 50px;
}

h2{
    margin-bottom: 20px!important;
}

h5{
    color: #6e7076;
}

.form-group button a{
    color: #000;
}

form button a:hover{
    text-decoration: none;
}

.block-detail{
    margin-bottom: 50px;
}

.assinatura{
    float:left;
    margin-left: 15px;
    margin-right: 10px;

}

.line{
    float:left;
    width:250px;
}

.line hr{
    margin-top: 1.2rem;
    border-top: 1px solid #000;
}

.bt-add{
    margin-bottom: 30px;
}

.table-detail{
    margin-bottom: 70px!important;
}