.content{
    margin: 20px auto 40px!important;
}

h2{
    margin-bottom: 20px!important;
}

.form-group button a{
    color: #000;
}

form button a:hover{
    text-decoration: none;
}

.block-detail{
    margin-bottom: 20px;
}

.assinatura{
    float:left;
    margin-left: 15px;
    margin-right: 10px;

}

.line{
    float:left;
    width:250px;
}

.line hr{
    margin-top: 1.1rem;
    border-top: 1px solid #000;
}